/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  font-family: 'Poppins', sans-serif;
  color-scheme: light-dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #252525;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

{
 --color-primary: #2f72c9;
 --color-primary-2: rgb(236, 229, 223);
 --color-primary-3: #252525;
}

:hover {
  @mixin hover-styles {
    background-color: $color-primary-2;
    color: $color-primary;
    transition: background-color 0.8s ease, color 0.8s ease;
    animation: appear 400ms linear 100ms forwards;
  }

  @mixin hover-styles-1 {
    background-color: $color-primary;
    color: $color-primary-2;
    transition: background-color 0.8s ease, color 0.8s ease;
    animation: appear 400ms linear 100ms forwards;
  }
}
